<div class="container p-5">
    
    <h1>Users</h1>
    <table class="table table-hover table-bordered">

        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>     
              <tr *ngFor="let group of data">
                <td>{{group.id}}</td>
                <td>{{group.email}}</td>
                <td>{{group.username}}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteuser(group.id)">Delete</button>
                  <button class="btn btn-warning" (click)="edituser(group.id)">Modify</button>
                </td>
              </tr>      
        </tbody>

      </table>

</div>
